name: nostr_console
description: A sample command-line application.
version: 0.0.1
# homepage: https://www.example.com

environment:
  sdk: '>=2.17.3 <3.0.0'

# dependencies:
#   path: ^1.8.0

dev_dependencies:
  lints: ^2.0.0
  test: ^1.21.4
dependencies:
  args: ^2.3.1
  bip340: ^0.0.4
  cli_menu: ^0.3.0-nullsafety.0
  crypto: ^3.0.2
  intl: ^0.17.0
  web_socket_channel: ^2.2.0
